<h2>Корзина</h2> <!-- "product_1=6,product_2=3,product_3=1," -->

<%= @items.inspect %>

<table class="table">
  <caption>Ваш заказ:</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Дата и время</th>
      <th>Название пиццы</th>
      <th>Количество</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
  	
    <tr>
      <th>#</th>
      <td>name</td>
      <td>phone</td>
      <td>datestamp</td>
      <td>Название пиццы</td>
      <td>Количество</td>
      <td>Цена</td>
    </tr>
    
  </tbody>
</table>
<button class="btn btn-primary" type="submit">Подтвердить</button>
  